@tailwind base;
@tailwind components;
@tailwind utilities;

#tsparticles {
  height: 80vh;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


.min-h-screen {
  height: 80vh;
}

.grad {
  background: -webkit-linear-gradient(#7CB9E8, #00308F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.head {
  margin-top: 4rem;
}

.head-pad {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
}

.remark-code-title + div > pre {
  @apply mt-0 rounded-t-none;
}

.task-list-item:before {
  @apply hidden;
}

.code-line {
  @apply pl-4 -mx-4 border-l-4 border-gray-800;
}

.highlight-line {
  @apply -mx-4 bg-gray-700 bg-opacity-50 border-l-4 border-primary-500;
}

.line-number::before {
  @apply pr-4 -ml-2 text-gray-400;
  content: attr(line);
}

html {
  scroll-behavior: smooth;
}

.react-pdf__Page__canvas {
  margin: 20px auto;
  width: 80% !important;
  height: 100% !important;
}

.react-pdf__Document {
  position: relative;
  margin: auto;
}
.react-pdf__Document:hover .page-controls {
  opacity: 1;
}
.page-controls {
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: black;
  background: white;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity ease-in-out 0.2s;
}
.page-controls span {
  font: inherit;
  font-size: .8em;
  padding: 0 .5em;
}
.page-controls button {
  width: 44px;
  height: 44px;
  background: white;
  border: 0;
  border-radius: 10px;
  font: inherit;
  font-size: .8em;
}

.page-controls button:disabled {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

.page-controls button:enabled:hover {
  cursor: pointer;
}
.page-controls button:enabled:hover {
  background-color: #e6e6e6;
}
.page-controls button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.page-controls button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
