@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

#tsparticles {
  height: 83vh;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


.min-h-screen {
  height: 83vh;
}

.grad {
  background: -webkit-linear-gradient(#7CB9E8, #00308F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.head {
  margin-top: 4rem;
}

.head-pad {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
}

.remark-code-title + div > pre {
  @apply mt-0 rounded-t-none;
}

.task-list-item:before {
  @apply hidden;
}

.code-line {
  @apply pl-4 -mx-4 border-l-4 border-gray-800;
}

.highlight-line {
  @apply -mx-4 bg-gray-700 bg-opacity-50 border-l-4 border-primary-500;
}

.line-number::before {
  @apply pr-4 -ml-2 text-gray-400;
  content: attr(line);
}

html {
  scroll-behavior: smooth;
}

.react-pdf__Page__canvas {
  margin: 20px auto;
  width: 80% !important;
  height: 100% !important;
}

.react-pdf__Document {
  position: relative;
  margin: auto;
}
.react-pdf__Document:hover .page-controls {
  opacity: 1;
}
.page-controls {
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: black;
  background: white;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity ease-in-out 0.2s;
}
.page-controls span {
  font: inherit;
  font-size: .8em;
  padding: 0 .5em;
}
.page-controls button {
  width: 44px;
  height: 44px;
  background: white;
  border: 0;
  border-radius: 10px;
  font: inherit;
  font-size: .8em;
}

.page-controls button:disabled {
  color: #e6e6e6;
  cursor: not-allowed;
}

.page-controls button:enabled:hover {
  cursor: pointer;
}
.page-controls button:enabled:hover {
  background-color: #e6e6e6;
}
.page-controls button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.page-controls button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}



.embla {
  position: relative;
  /* padding: 20px; */
  max-width: 100%;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  padding-left: 10px;
  min-width: 80%;
  position: relative;
}

.embla__slide__inner {
  position: relative;
  /* height: 2160px; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.embla__slide__parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  /* transform: translate(-50%, -50%); */
}

.embla__container--thumb {
  cursor: default;
  /* margin-left: -8px; */
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}

.embla--thumb {
  padding-top: 0;
  /* margin-top: -12px; */
}
.embla__slide__inner--thumb {
  touch-action: manipulation;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100%;
  background-color: transparent;
  position: relative;
  display: block;
  overflow: hidden;
}