@tailwind base;
@tailwind components;
@tailwind utilities;

#tsparticles {
  height: 78vh;
}

.min-h-screen {
  min-height: 80vh;
}

.grad {
  background: -webkit-linear-gradient(#7CB9E8, #00308F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.head {
  margin-top: 4rem;
}

.head-pad {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
}

.remark-code-title + div > pre {
  @apply mt-0 rounded-t-none;
}

.task-list-item:before {
  @apply hidden;
}

.code-line {
  @apply pl-4 -mx-4 border-l-4 border-gray-800;
}

.highlight-line {
  @apply -mx-4 bg-gray-700 bg-opacity-50 border-l-4 border-primary-500;
}

.line-number::before {
  @apply pr-4 -ml-2 text-gray-400;
  content: attr(line);
}

html {
  scroll-behavior: smooth;
}
